mhr-b2b-client/wsdls/src/main/resources/schema/External/View/PCEHR_PathologyReportView_Response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Version issued 01 July 2014-->
<xs:schema xmlns="http://ns.electronichealth.net.au/pcehr/xsd/interfaces/PathologyReportView/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:q3="http://ns.electronichealth.net.au/pcehr/xsd/interfaces/b2b/1.0" xmlns:ns1="http://ns.electronichealth.net.au/pcehr/xsd/common/CommonCoreElements/1.0" xmlns:ns2="http://ns.electronichealth.net.au/pcehr/xsd/view/ViewCommonType/1.0" targetNamespace="http://ns.electronichealth.net.au/pcehr/xsd/interfaces/PathologyReportView/1.0" elementFormDefault="qualified">
	<xs:import namespace="http://ns.electronichealth.net.au/pcehr/xsd/common/CommonCoreElements/1.0" schemaLocation="../../Common/PCEHR_CommonTypes_Supplementary.xsd"/>
	<xs:import namespace="http://ns.electronichealth.net.au/pcehr/xsd/view/ViewCommonType/1.0" schemaLocation="PCEHR_View_CommonType.xsd"/>
	
	<!--  This file was modified by NeHTA 25/8/2014 to change the anonymous complex type to a named the complex type -->
	
	<xs:element name="pathologyReportViewResponse" type="pathologyReportViewResponse" />
		<xs:complexType name="pathologyReportViewResponse">
			<xs:sequence>
				<xs:element name="viewMetadata">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="individualProfile">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="ns1:ihiNumber"/>
										<xs:element name="individual" type="ns1:individualTypeSupp"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="viewParameters">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="dateFromFilter" type="xs:date"/>
										<xs:element name="dateToFilter" type="xs:date"/>
										<xs:element name="viewVersionNumber" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="informationAvailable" type="xs:boolean"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="pathologyReport" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="dateAvailableToConsumer" type="xs:string"/>
							<xs:element name="reportInformation" type="ns2:pathologyReportInformationDT"/>
							<xs:element name="clinicalDocumentAuthor" type="ns2:providerInformationDT"/>
							<xs:element name="reportingPathologistInformation" type="ns2:providerInformationDT"/>
							<xs:element name="testRequesterInformation" type="ns2:requesterInformationDT"/>
							<xs:element name="pathologyTestResult" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="specimenCollectionDate" type="xs:string"/>
										<xs:element name="pathologyDiscipline" type="ns2:CodedType"/>
										<xs:element name="testResultName" type="ns2:CodedType"/>
										<xs:element name="overallTestResultStatus" type="ns2:CodedType"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
</xs:schema>
