mhr-b2b-client/wsdls/src/main/resources/schema/External/View/PCEHR_DiagnosticImagingReportView.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Version issued 20 March 2014-->
<xs:schema xmlns="http://ns.electronichealth.net.au/pcehr/xsd/interfaces/DiagnosticImagingReportView/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:q3="http://ns.electronichealth.net.au/pcehr/xsd/interfaces/b2b/1.0" xmlns:ns1="http://ns.electronichealth.net.au/pcehr/xsd/common/CommonCoreElements/1.0" targetNamespace="http://ns.electronichealth.net.au/pcehr/xsd/interfaces/DiagnosticImagingReportView/1.0" elementFormDefault="qualified">
	<!--  This file was modified by NeHTA 25/8/2014 to change the anonymous complex type to a named the complex type -->
	
	<xs:element name="diagnosticImagingReportView" type="diagnosticImagingReportView" />
		<xs:complexType name="diagnosticImagingReportView">
			<xs:sequence>
				<xs:element name="versionNumber" type="xs:string"/>
				<xs:element name="fromDate" type="xs:date"/>
				<xs:element name="toDate" type="xs:date"/>
			</xs:sequence>
		</xs:complexType>
</xs:schema>
