mhr-b2b-client/wsdls/src/main/resources/schema/External/View/PCEHR_HealthRecordOverview.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Version issued 14 April 2014-->
<xs:schema xmlns="http://ns.electronichealth.net.au/pcehr/xsd/interfaces/HealthRecordOverview/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:q3="http://ns.electronichealth.net.au/pcehr/xsd/interfaces/b2b/1.0" xmlns:ns1="http://ns.electronichealth.net.au/pcehr/xsd/common/CommonCoreElements/1.0" targetNamespace="http://ns.electronichealth.net.au/pcehr/xsd/interfaces/HealthRecordOverview/1.0" elementFormDefault="qualified">

	<!--  This file was modified by NeHTA 25/8/2014 to change the anonymous complex type to a named the complex type -->
	
	<xs:element name="healthRecordOverView" type="healthRecordOverView"/>
		<xs:complexType name="healthRecordOverView">
			<xs:sequence>
				<xs:element name="versionNumber" type="xs:string"/>
				<xs:element name="clinicalSynopsisLength" type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
</xs:schema>
